.wrapper {
  margin: 10px auto;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  height: 10px;
  transition: 0.4s ease;
  &.showAllCurr {
    opacity: 1;
    visibility: visible;
    height: 490px;
  }
  .tableContainer {
    max-height: calc(100% - 50px);
  }
  .setButtons {
    width: 180px;
  }
  .setter {
    font-size: 12px;
    padding: 2px 6px;
    margin: 3px;
  }
}
